<div id="ad">
    <aside>
        <p>スポンサーリンク</p>
        <div class="responsive-unit">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- kwmt27 レスポンシブ -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3131366896030715"
                 data-ad-slot="5415567707"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});

            </script>
        </div><!--//responsive-unit-->
    </aside>
</div>